In [157]:
import numpy as np 
import pandas as pd 
import os

In [158]:
df = pd.read_csv("Car_sales.csv")

In [159]:
df.head(3)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.5,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN

In [160]:
df.shape

(157, 16)

In [161]:
df.tail()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
152,Volvo,V40,3.545,NaN,Passenger,24.4,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.5,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.8,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.5,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.0,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [162]:
df.columns

Index(['Manufacturer', 'Model', 'Sales_in_thousands', '__year_resale_value',
       'Vehicle_type', 'Price_in_thousands', 'Engine_size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity',
       'Fuel_efficiency', 'Latest_Launch', 'Power_perf_factor'],
      dtype='object')

In [163]:
df.describe()

,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
count,157.000000,121.000000,155.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,156.000000,154.000000,155.000000
mean,52.998076,18.072975,27.390755,3.060897,185.948718,107.487179,71.150000,187.343590,3.378026,17.951923,23.844156,77.043591
std,68.029422,11.453384,14.351653,1.044653,56.700321,7.641303,3.451872,13.431754,0.630502,3.887921,4.282706,25.142664
min,0.110000,5.160000,9.235000,1.000000,55.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,23.276272
25%,14.114000,11.260000,18.017500,2.300000,149.500000,103.000000,68.400000,177.575000,2.971000,15.800000,21.000000,60.407707
50%,29.450000,14.180000,22.799000,3.000000,177.500000,107.000000,70.550000,187.900000,3.342000,17.200000,24.000000,72.030917
75%,67.956000,19.875000,31.947500,3.575000,215.000000,112.200000,73.425000,196.125000,3.799500,19.575000,26.000000,89.414878
max,540.561000,67.550000,85.500000,8.000000,450.000000,138.700000,79.900000,224.500000,5.572000,32.000000,45.000000,188.144323

In [164]:
df.Manufacturer.unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'Honda', 'Hyundai', 'Infiniti',
       'Jaguar', 'Jeep', 'Lexus', 'Lincoln', 'Mitsubishi', 'Mercury',
       'Mercedes-B', 'Nissan', 'Oldsmobile', 'Plymouth', 'Pontiac',
       'Porsche', 'Saab', 'Saturn', 'Subaru', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [165]:
 df.isnull().sum()

Manufacturer            0
Model                   0
Sales_in_thousands      0
__year_resale_value    36
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Latest_Launch           0
Power_perf_factor       2
dtype: int64

In [166]:
df.__year_resale_value.unique()

array([16.36 , 19.875, 18.225, 29.725, 22.255, 23.555, 39.   ,    nan,
       28.675, 36.125, 12.475, 13.74 , 20.19 , 13.36 , 22.525, 27.1  ,
       25.725,  9.25 , 11.225, 10.31 , 11.525, 13.025, 36.225,  9.125,
        5.16 , 12.36 , 14.18 , 13.725, 12.64 , 17.325, 19.54 ,  7.75 ,
       12.545, 10.185, 12.275, 58.47 , 15.06 , 15.51 , 13.425, 11.26 ,
       12.025,  7.425, 12.76 ,  8.835, 10.055, 14.21 , 16.64 , 13.175,
       23.575,  7.85 , 15.075,  9.85 , 13.21 , 17.71 , 17.525, 19.49 ,
        5.86 ,  7.825,  8.91 , 19.69 , 13.475, 13.775, 18.81 , 26.975,
       32.075, 40.375, 20.525, 21.725,  8.325, 10.395, 10.595, 16.575,
       20.94 , 19.125, 13.88 ,  8.8  , 13.89 , 11.03 , 14.875, 20.43 ,
       14.795, 26.05 , 41.45 , 50.375, 58.6  ,  8.45 , 11.295, 15.125,
       15.38 , 17.81 , 11.24 , 19.89 , 19.925, 15.24 ,  9.8  , 13.79 ,
       10.29 , 17.805, 14.01 , 13.225, 41.25 , 60.625, 67.55 ,  9.2  ,
       10.59 , 10.79 , 10.025, 13.245, 18.14 , 15.445,  9.575, 13.325,
       19.425, 34.08 , 11.425, 13.24 , 16.725, 13.76 ])

In [167]:
df.mean()

Sales_in_thousands      52.998076
__year_resale_value     18.072975
Price_in_thousands      27.390755
Engine_size              3.060897
Horsepower             185.948718
Wheelbase              107.487179
Width                   71.150000
Length                 187.343590
Curb_weight              3.378026
Fuel_capacity           17.951923
Fuel_efficiency         23.844156
Power_perf_factor       77.043591
dtype: float64

In [168]:
df.fillna(df.mean(),inplace=True)

In [169]:
df.isnull().sum()

Manufacturer           0
Model                  0
Sales_in_thousands     0
__year_resale_value    0
Vehicle_type           0
Price_in_thousands     0
Engine_size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb_weight            0
Fuel_capacity          0
Fuel_efficiency        0
Latest_Launch          0
Power_perf_factor      0
dtype: int64

In [170]:
df.rename(columns={'__year_resale_value': 'year_resale_value'}, inplace=True)

In [171]:
df.tail(3)

,Manufacturer,Model,Sales_in_thousands,year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
154,Volvo,V70,17.531,18.072975,Passenger,28.8,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,18.072975,Passenger,45.5,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,18.072975,Passenger,36.0,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        157 non-null    object
 1   Model               157 non-null    object
 2   Sales_in_thousands  157 non-null    float64
 3   year_resale_value   157 non-null    float64
 4   Vehicle_type        157 non-null    object
 5   Price_in_thousands  157 non-null    float64
 6   Engine_size         157 non-null    float64
 7   Horsepower          157 non-null    float64
 8   Wheelbase           157 non-null    float64
 9   Width               157 non-null    float64
 10  Length              157 non-null    float64
 11  Curb_weight         157 non-null    float64
 12  Fuel_capacity       157 non-null    float64
 13  Fuel_efficiency     157 non-null    float64
 14  Latest_Launch       157 non-null    object
 15  Power_perf_factor   157 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [173]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
label_encoder = LabelEncoder()

df['Manufacturer'] = label_encoder.fit_transform(df['Manufacturer'])

In [174]:
df['Model'] = label_encoder.fit_transform(df['Model'])

In [175]:
df['Vehicle_type'] = label_encoder.fit_transform(df['Vehicle_type'])

In [176]:
import datetime as dt

from datetime import timedelta

df['Latest_Launch'] = df['Latest_Launch'].str.replace('/', '')
df['Latest_Launch'] = df['Latest_Launch'].str.replace(':', '')
df['Latest_Launch'] = df['Latest_Launch'].str.replace(' ', '')
df['Latest_Launch'] = df['Latest_Launch'].astype(float)

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        157 non-null    int64
 1   Model               157 non-null    int64
 2   Sales_in_thousands  157 non-null    float64
 3   year_resale_value   157 non-null    float64
 4   Vehicle_type        157 non-null    int64
 5   Price_in_thousands  157 non-null    float64
 6   Engine_size         157 non-null    float64
 7   Horsepower          157 non-null    float64
 8   Wheelbase           157 non-null    float64
 9   Width               157 non-null    float64
 10  Length              157 non-null    float64
 11  Curb_weight         157 non-null    float64
 12  Fuel_capacity       157 non-null    float64
 13  Fuel_efficiency     157 non-null    float64
 14  Latest_Launch       157 non-null    float64
 15  Power_perf_factor   157 non-null    float64
dtypes: float64(13), int64(3)
memory usage: 19.8 KB

In [178]:
from sklearn.model_selection import train_test_split

In [179]:
X=df.drop(["Sales_in_thousands"], axis=1)

y=df["Sales_in_thousands"]

In [180]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(random_state=0)

In [181]:
from sklearn import preprocessing
from sklearn import utils

lab_enc = preprocessing.LabelEncoder()
encoded = lab_enc.fit_transform(y)

In [182]:
print(utils.multiclass.type_of_target(y))

continuous

In [183]:
print(utils.multiclass.type_of_target(y.astype('int')))

multiclass

In [184]:
print(utils.multiclass.type_of_target(encoded))

multiclass

In [187]:
X_train, X_test, encoded_train, encoded_test = train_test_split(X, encoded, train_size=0.2)

In [189]:
from sklearn.preprocessing import scale
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn import preprocessing

LogReg=LogisticRegression(C=2.0)
LogReg.fit(X_train, encoded_train)
dat1=LogReg.predict(X_test)

print(r2_score(encoded_test,dat1))

-0.03977390376559131