In [63]:
#Load the required libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [64]:
df = pd.read_csv("Lasso.csv")

In [65]:
print(df.shape)

(117, 9)

In [66]:
df.head()

,Unnamed: 0,Manufacturer,Model,X__year_resale_value,Vehicle_type,Engine_size,Wheelbase,Width,Curb_weight
0,1,1,63,16.360,2,1.8,101.2,67.3,2.639
1,2,1,110,19.875,2,3.2,108.1,70.3,3.517
2,4,1,94,29.725,2,3.5,114.6,71.4,3.850
3,5,2,5,22.255,2,1.8,102.6,68.2,2.998
4,6,2,6,23.555,2,2.8,108.7,76.1,3.561

In [67]:
df.drop(["Unnamed: 0"], axis=1,inplace=True)

In [68]:
df.isnull().sum()

Manufacturer            0
Model                   0
X__year_resale_value    0
Vehicle_type            0
Engine_size             0
Wheelbase               0
Width                   0
Curb_weight             0
dtype: int64

In [69]:
df.describe()

,Manufacturer,Model,X__year_resale_value,Vehicle_type,Engine_size,Wheelbase,Width,Curb_weight
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,13.743590,58.683761,18.031538,1.752137,3.048718,107.326496,71.189744,3.324051
std,7.434952,33.544014,11.605632,0.433629,1.055169,8.050588,3.530151,0.597177
min,1.000000,1.000000,5.160000,1.000000,1.000000,92.600000,62.600000,1.895000
25%,8.000000,30.000000,11.240000,2.000000,2.200000,102.400000,68.500000,2.911000
50%,13.000000,59.000000,14.010000,2.000000,3.000000,107.000000,70.400000,3.340000
75%,20.000000,87.000000,19.875000,2.000000,3.800000,111.600000,73.600000,3.823000
max,26.000000,116.000000,67.550000,2.000000,8.000000,138.700000,79.300000,5.115000

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Manufacturer          117 non-null    int64
 1   Model                 117 non-null    int64
 2   X__year_resale_value  117 non-null    float64
 3   Vehicle_type          117 non-null    int64
 4   Engine_size           117 non-null    float64
 5   Wheelbase             117 non-null    float64
 6   Width                 117 non-null    float64
 7   Curb_weight           117 non-null    float64
dtypes: float64(5), int64(3)
memory usage: 7.4 KB

In [71]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import utils
from sklearn.preprocessing import scale
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn import preprocessing

In [72]:
X=df.drop(["X__year_resale_value"], axis=1)

y=df["X__year_resale_value"]

In [73]:
lab_enc = preprocessing.LabelEncoder()
encoded = lab_enc.fit_transform(y)

In [74]:
print(utils.multiclass.type_of_target(y))

continuous

In [75]:
print(utils.multiclass.type_of_target(y.astype('int')))

multiclass

In [76]:
print(utils.multiclass.type_of_target(encoded))

multiclass

In [81]:
X_train, X_test, encoded_train, encoded_test = train_test_split(X, encoded, train_size=0.7)

In [82]:
LogReg=LogisticRegression(C=2.0)
LogReg.fit(X_train, encoded_train)
dat1=LogReg.predict(X_test)

print(r2_score(encoded_test,dat1))

0.04578000348685518

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(